*{
  font-size: 1.2em;
}

body {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 1.2em;
  background: linear-gradient(#78E5EB, #F5F0F2, #78E5EB);
}

header {
  background: linear-gradient(#4C8DCA, #78E5EB);
  height:30%;
  width: 100%;
  text-align: center;
}

#clock {
  height: 50px;
  font-size: 2em;
}

nav button {
  float: right;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 2em;
}

h2, h3 {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.5em;
}

#pictures-column-one, #pictures-column-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: -webkit-center;
}

.about-caption {
	margin-top: 20px;
	margin-bottom: 50px;
	width: 350px;
	text-align: justify;
}

figure img {
  width: 400px;
  height: 400px;
}

.card-container{
perspective: 700;
}

section .card {
  font-size: 1.3em;
  line-height: 1.2em;
  position: relative;
  text-align: center;
  margin: 20px;
  height: 400px;
  width: 400px;
  background-color: #1242;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
}

section .card:hover{
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  backface-visibility: hidden;
}

.back{
  margin-top: 40px;
  margin-left: -20px;
  transform: rotateY(180deg);
}

footer {
  height: 100px;
  width: 100%;
  background: linear-gradient(#78E5EB, #4C8DCA);
}

.footer-left {
  float: left;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.footer-right {
    float:right;
}