* {
  outline: dotted orangered;
}
body, html {
  height: 100%;
  min-height: 100%;
  max-width: 100%;
}
body {
  font-family: 'Pacifico', cursive;
  text-align: center;
  background: linear-gradient(to bottom, #78e5eb 60%, #4c8cda 100%);
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
}

header {
  background-color: transparent;
  max-width: 100%;
  height: 5%;
  z-index: 1;
  margin: 0;
}
nav {
  background-color: transparent;
  display: inline-block;
  max-width: 100%;
  margin: 0px;
}
nav ul {
  margin: 0px;
}
nav li {
  display: inline-block;
  line-height: 50px;
  list-style: none;
}
nav ul li:first-child {
  float: left;
  opacity: 0.4;
}
nav #logo {
  opacity: 0.4;
}
.minor-title {
  color: #f5f0f2;
  opacity: 0.4;
  font-family: 'pacifico', cursive;
  font-size: 2em;
}
#clock {
  color: #f5f0f2;
  opacity: 0.5;
  font-family: 'istok-web';
  font-size: 1.3em;
}
nav ul li:last-child {
  outline: dotted orange ;
  box-sizing: border-box;
  float: right;
}

#video-container  {
  position: absolute;
  width: 100%;
  height: 50%;
  opacity: 1;
  overflow: hidden;
}
#video-container video,
.video-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
#video-container .video-overlay {
  z-index: -1;
  background: rgba(0,0,0,.5);
}
#video-container .video-content {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
}
#video-container .video-content .inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
#video-container .video-content .inner h1 {
  color: white;
  margin: 20px 0;
  font-size: 3em;
}
#video-container .video-content .inner button {
  background: #03A9F4;
  border: none;
  color: white;
  padding: 20px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: inherit;
}

.title {
  font-family: 'pacifico', cursive;
  font-size: 5em;
}


#pictures-column-one, #pictures-column-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: -webkit-center;
}

.about-caption {
  margin-top: 20px;
	margin-bottom: 50px;
	width: 350px;
	text-align: justify;
}

.footer-left {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: linear-gradient(to right, #78E5EB 10%, white 25%,white 50%, #E12D53 100%);
  text-align: center;
  
}

.footer-left li {
  display: inline;
}
