
body {
  font-family: 'Pacifico', cursive;
  text-align: center;
  background: linear-gradient(to right, #78E5EB 10%, white 25%,white 50%, #E12D53 100%);
  max-width: auto;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

header {
  background: linear-gradient(to right, #78E5EB 10%, white 25%,white 50%, #E12D53 100%);
  height:10%;
  width: 100%;

}

body, html {
  height: 100%;
  min-height: 100%;
}

nav {
  text-align: center;
  margin: 0px auto;
  padding-top: 20px;
}
nav li {
  display: inline;
  /* line-height: 50px; */
  list-style: none;
}

nav li img {
  float: right;
}

/* nav ul li:first-child {
  float: left;
} */

/* nav ul li:last-child {
  outline: dotted orange ;
  box-sizing: border-box;
  float: right;
} */

#video-container  {
  position: relative;
  width: 100%;
  height: 50%;
  opacity: .8;
  overflow: hidden;
}
#video-container video,
.video-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
#video-container .video-overlay {
  z-index: 9999;
  background: rgba(0,0,0,.5);
}
#video-container .video-content {
  z-index: 99999;
  position: absolute;
  height: 100%;
  width: 100%;
}
#video-container .video-content .inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
#video-container .video-content .inner h1 {
  color: white;
  margin: 20px 0;
  font-size: 3em;
}
#video-container .video-content .inner button {
  background: #03A9F4;
  border: none;
  color: white;
  padding: 20px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: inherit;
}


h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 42pt;
} 

h2, h3 {
	font-family: 'Permanent Marker', cursive;
	font-size: 24pt;
}

.footer-left {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: linear-gradient(to right, #78E5EB 10%, white 25%,white 50%, #E12D53 100%);
  text-align: center;

}

.footer-left li {
  display: inline;
}

  body {
    /* background-color: #4c8dca; */
    max-width: auto;
    height: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
  }
  
  /* nav {
    display: inline-block;
    width: 100%;
    padding: 0px;
  }
  nav li {
    display: inline-block;
    line-height: 50px;
    list-style: none;
  }
  nav ul li:first-child {
    float: left;
  }
  nav ul li:last-child {
    outline: dotted orange ;
    box-sizing: border-box;
    float: right;
  }
  } */
