body {
	font-family: 'Pacifico', cursive;
	font-family: 'Istok Web', sans-serif;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 42pt;
}

h2, h3 {
	font-family: 'Permanent Marker', cursive;
	font-size: 24pt;
}
nav li{
  display: inline-block;
}
nav.logo{
  float: left;
  margin: 5px 10px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
  body {
    /* background-color: #4c8dca; */
    max-width: auto;
    height: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
  }
  
  nav {
    display: inline-block;
    width: 100%;
    padding: 0px;
  }
  nav li {
    display: inline-block;
    line-height: 50px;
    list-style: none;
  }
  nav ul li:first-child {
    float: left;
  }
  nav ul li:last-child {
    outline: dotted orange ;
    box-sizing: border-box;
    float: right;
  }
  }
