* {
  /* outline: dashed orange; */
  box-sizing: border-box;
}
html { 
  height: 100%;
  background: url("https://images.unsplash.com/photo-1507963901243-ebfaecd5f2f4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8f1afdd53eeeeebe1d5fe866294c6da9&auto=format&fit=crop&w=2879&q=80") no-repeat center center fixed;
  /* background: url("https://images.unsplash.com/photo-1518756031884-0ca68bad6204?ixlib=rb-0.3.5&s=09bf81e205efc33e1b5e1115ad251b8d&auto=format&fit=crop&w=2982&q=80") no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  max-width: auto;
  height: 100%;
  text-align: center;
  font-family: 'bree-serif', serif;
  font-size: 1.2em;
}

nav {
  display: inline-block;
  width: 100%;
  padding: 20px;
}
nav li {
  display: inline-block;
  line-height: 50px;
  list-style: none;
}
nav ul li:first-child {
  float: left;
  opacity: 0.4;
}
.minor-title {
  color: #f5f0f2;
  opacity: 0.4;
  font-family: 'pacifico', cursive;
  font-size: 2em;
}
#clock {
  color: #f5f0f2;
  opacity: 0.5;
  font-family: 'istok-web';
  font-size: 1.3em;
}
nav ul li:last-child {
  box-sizing: border-box;
  float: right;
}
 
/* Timeline Table Styling */
table {
  width: 100%;
  height: 60vh;
  margin-bottom: 30px;
}
thead th {
  font-size: 1.3em;
  color: #f5f0f2;
  padding: 5px;
}
table td {
  vertical-align: bottom;
  height: 500px;
  width: calc(100% / 7);
}
table ul {
  background: rgba(134, 255, 239, 0.4);
  width: calc(100% - 20px);
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
  border: solid #4c8dca;
}
table ul:hover {
  animation: shake 1s; 
  animation-iteration-count: 0.2; 
}
table li {
  background-color: #f5f0f2;
  margin: 10px auto;
  border-radius: 8px;
  font-weight: 500;
  font-family: 'permanent marker';
}
table li:hover{
  color: #e12d53;
  animation: shake 1s; 
  animation-iteration-count: infinite; 
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

footer {
  width: 100%;
  height: 10%;
}

fieldset {
  background-color: rgba(134, 255, 239, 0.308);
  width: 75%;
  margin: 2% auto;
  border: solid #4c8dca;
  border-radius: 12px;
  font-weight: 600;
  text-shadow: 1.5px 1.2px #17468a;
  font-size: 1.3em;
}

/* AddEvent Editor */
.ql-toolbar.ql-snow {
  background-color: #f5f0f2; 
  max-width: 50%;
  margin: auto;
}
#editor {
  background-color: #f5f0f2;
  max-width: 50%;
  margin: auto;
}
form{
  color: #f5f0f2;
}

.clear {
  clear: both;
}
#greetings{
  font-size: 1.7em;
  font-weight: bolder;
  color: #f5f0f2;
}
button#logout{
  width: 100px;
  height: 40px;
  font-size: 1.2em;
  background-color: #e12d53;
  color: blanchedalmond;
  border-radius: 10px;
  vertical-align: middle;
}
button#logout:hover{
  background-color: #1766F1;
  border: 3px solid white;
}